<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Labnet CAN 2 MQTT Bridge</title>

    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <h1>Labnet CAN 2 MQTT Bridge</h1>
    </header>
    <main>
        <aside>
            <h2>CAN</h2>

            <section class="data-log">
                <ul>
                    <li>
                        <time>15:00:00</time>
                        <p>a message</p>
                    </li><li>
                        <time>15:00:00</time>
                        <p>another message</p>
                    </li>
                </ul>
            </section>

            <section class="data-input data-can-input">
                <input/>
                <button>Send</button>
            </section>
        </aside>
        <aside>
            <h2>MQTT</h2>

            <section class="data-log">
                <ul>
                    <li>
                        <time>15:00:00</time>
                        <p>a message</p>
                    </li><li>
                        <time>15:00:00</time>
                        <p>another message</p>
                    </li>
                </ul>
            </section>

            <section class="data-input data-mqtt-input">
                <input/>
                <button>Send</button>
            </section>
        </aside>
    </main>
</body>
</html>